@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js" type="text/javascript"></script>

<h3>Details</h3>

<p>First Name: <span data-bind="text: firstName"></span></p>

<script type="text/javascript">
	var viewModel = {
		firstName : "Kyle"
	}
	ko.applyBindings(viewModel);
</script>